<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template is working</title>
</head>
<body>
    ami ekta chotto Template jekahhne ki6u lekha nai khoma koro pritam da!!<br/>
    {{name}} is from {{place}}<br/>
<h1>Welcome to text analyzer</h1>
<h5>Enter your text below : </h5>

<form action='/analyze' method='get'>
    <textarea name="text" id="" cols="30" rows="10"></textarea><br/>
    <input type="checkbox" name="removepunc">Remove Punchuation<br>
    <input type="checkbox" name="fullcaps">UPPERCASE<br>
    <input type="checkbox" name="newlineremover">New line Remover<br>
    <input type="checkbox" name="spaceremover">Extra Space Remover<br>
    <input type="checkbox" name="charcount">Character Counter<br>
    <button type ="submit">Analyze Text</button>
</form>
    
</body>
</html>